.dog-header {
    background-color: @header-bg-color;
}

.dog-header-container {
    padding: 3em;
    margin-bottom: 40px;
}

.dog-header-content {
    text-align: center;    
}

.dog-header-title {
    font-size: @title-font-size;
    margin: .5em;
}

.dog-header-subtitle {
    font-size: @subtitle-font-size;
    font-weight: 400;
    margin: 0;
}